{% extends "domain_page.html" %}

{% block extra_media %}
	{{ block.super }}
	<!-- Javascripts and associated styles -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.10.4.custom.min.css" />
	<script type="text/javascript">
		<!--
		$(document).ready(function() {
			// viz options tooltips
			$('#options-list a.form-tooltip').tooltip({
				track: true,
				delay: 0,
				showURL: false,
				extraClass: "fixed-width"
			});

			$('#options form').submit(function() {
				$('#analysis-text').hide();
				$('#analysis-progress').show();
			});
		});
		-->
	</script>
{% endblock %}
{% block dnssec_options %}{% endblock %}

{% block page_content %}
	<div id="analysis-text">
	{% if error_msg %}
		<p class="form-error">
		{{ error_msg }}
		</p> 
	{% else %}
		<p>
		{% if name_obj.analysis_end %}
		<span class="domain">{{ name_obj }}</span> was last analyzed on {{ name_obj.analysis_end|date }} UTC (<abbr class="timeago" title="{{ name_obj.analysis_end|date:"c" }}">{{ name_obj.updated_ago_str }} ago</abbr>).  To re-analyze the data, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% else %}
		<span class="domain">{{ name_obj }}</span> has not been analyzed before. To analyze this domain name, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% endif %}
		</p>
	{% endif %}
	<fieldset id="options">
	<form action="" method="post">
		<p id="analysis-submit">
			<input type="submit" class="button" value="Analyze" />
		</p>
		<ol id="options-list" class="analysis-options">
			{% for field in analyze_form %}
			<li>
				{{ field }}
			</li>
			{% endfor %}
		</ol>
	</form>
	</fieldset>
	</div>

	<div id="analysis-progress">
		<p>Please be patient while we analyze <span class="domain">{{ name_obj }}</span>.</p>
		<img alt="progress bar" src="{{ STATIC_URL }}images/progress.gif" />
		<p id="analysis-error" class="form-error">
		</p> 
	</div>
{% endblock %}
