{% extends "domain_page.html" %}

{% block extra_media %}
	{{ block.super }}
	<!-- Javascripts and associated styles -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.10.4.custom.min.css" />
	<script type="text/javascript">
		<!--
		$(document).ready(function() {
			// analysis options
			$('#options .toggle').click(function() {
				var tog = $(this);
				$('#advanced-options').slideToggle({
					'duration': 'slow',
					'complete': function() {
						if (tog.text() == 'Hide advanced options') {
							tog.text('Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)');
							$('#advanced-options').css({'border-bottom':'0', 'border-left':'0', 'border-right':'0', 'padding-left' : '3px' });
						} else {
							tog.text('Hide advanced options');
						}
					},
					'start': function() {
						if (tog.text() != 'Hide advanced options') {
							$('#advanced-options').removeAttr("style");
						}
					}
				});
			});

			{% if analyze_form.errors %}
			$('#options .toggle').text('Hide advanced options');
			{% else %}
			$('#advanced-options').hide();
			$('#advanced-options').css({'border-bottom':'0', 'border-left':'0', 'border-right':'0', 'padding-left' : '3px' });
			$('#options .toggle').text('Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)');
			{% endif %}

			// viz options tooltips
			$('#options-list a.form-tooltip').tooltip({
				track: true,
				delay: 0,
				showURL: false,
				extraClass: "fixed-width"
			});

			$('#options form').submit(function() {
				$('#analysis-text').hide();
				$('#analysis-progress').show();

				var form = $('#options form');
				form.unbind('submit');
				var formData = form.serialize();

				var i = 0;
				var rqst = $.ajax({
					url: "",
					type: "POST",
					data: formData,
					dataType: "html",
					xhrFields: {
						onprogress: function(e) {
							var txt = "";
							var entries = e.target.responseText.split("\r\n");
							$('#progress-log').html(txt);
							for (var i = 0; i < entries.length - 1; i++) {
								var json = $.parseJSON(entries[i]);
								if (json["type"] == "logmessage") {
									txt += "<div class=\"loglevel-" + json["level"] + "\">" + json["message"] + "</div>";
								} else if (json["type"] == "next-location") {
									$('<p><form><input type="button" class="button" value="Continue"></form></p>').insertAfter($('#progress-log')).find('input.button').click(function() { document.location = json["url"]; });
								}
							}
							$('#progress-log').html(txt);
							$("#progress-log").scrollTop($("#progress-log")[0].scrollHeight);
						}
					},
					success: function() {
						$('#progress-bar').hide();
						var el = $('#progress-log div').last();
						if (el.hasClass('loglevel-critical')) {
							$('#progress-bar').show();
							$('#progress-log').hide()
							form.submit();
						} else {
							if (el.hasClass('loglevel-error')) {
								$('<p class="form-error">There was an error analyzing {{ name_obj }}.  We\'ve been notified of the problem and will look into fixing it.</p>').insertAfter($('#progress-log'));
							}
						}
					},
					error: function() {
						form.submit();
					}
				});

				return false;
			});

			function init_authoritative() {
				// Enable force_ancestor
				$('#id_force_ancestor').prop('disabled', false);
				// Change label of explicit delegation
				$('label[for="id_explicit_delegation"]').text('Authoritative servers:');
				// Change value of explicit delegation, if not already set
				$('#id_explicit_delegation').val('(Optional) Enter names or addresses of servers authoritative for ' + $('#id_force_ancestor').val() + ', one per line.');
			}

			function init_recursive() {
				// Change to force root, and disable force_ancestor
				$('#id_force_ancestor').val('.');
				$('#id_force_ancestor').prop('disabled', true);
				// Change label of explicit delegation
				$('label[for="id_explicit_delegation"]').text('Recursive resolvers:');
				// Change value of explicit delegation, if not already set
				$('#id_explicit_delegation').val('Enter names or addresses of resolvers, one per line.');
			}

			function init_form() {
				if ($('#id_analysis_type_1').prop('checked')) {
					init_recursive();
				}
				if ($('#id_analysis_type_0').prop('checked')) {
					init_authoritative();
				}
			}

			init_form();

			$('#id_force_ancestor').change(function() {
				init_form();
			});

			$('#id_analysis_type_1').change(function() {
				init_form();
			});

			$('#id_analysis_type_0').change(function() {
				init_form();
			});

			$('#id_explicit_delegation').focus(function() {
				if ($(this).val().search(/Enter names or addresses/) >= 0) {
					$(this).val('');
				}
			});

			$('#id_explicit_delegation').blur(function() {
				if (!$(this).val()) {
					init_form();
				}
			});

		});
		-->
	</script>
{% endblock %}
{% block dnssec_options %}{% endblock %}

{% block page_content %}
	<div id="analysis-text">
	{% if error_msg %}
		<p class="form-error">
		{{ error_msg }}
		</p>
	{% else %}
		<p>
		{% if name_obj.analysis_end %}
		<span class="domain">{{ name_obj }}</span> was last analyzed on {{ name_obj.analysis_end|date:"Y-m-d H:i:s" }} UTC (<abbr class="timeago" title="{{ name_obj.analysis_end|date:"c" }}">{{ name_obj.updated_ago_str }} ago</abbr>).  To re-analyze the data, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% else %}
		<span class="domain">{{ name_obj }}</span> has not been analyzed before. To analyze this domain name, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% endif %}
		</p>
	{% endif %}

	<fieldset id="options">
	<form action="" method="post">
		<p id="analysis-submit">
			<input type="submit" class="button" value="Analyze" />
		</p>

		<p><a class="toggle">Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)</a></p>

		<fieldset id="advanced-options">
		{% if analyze_form.errors %}
			<p class="form-error">
			There were errors processing the analysis options.  Please correct below and re-submit.
			</p>
		{% endif %}

		<ol id="options-list" class="analysis-options">
			{% for field in analyze_form %}
			<li>
			<a class="form-tooltip" title="{{ field.help_text }}">|?|</a>
			{{ field.label_tag }}
			{{ field }}
			{% if field.errors %}
				<ul class="formfield-error-list">
				{% for err in field.errors %}
					<li>{{ err }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			</li>
			{% endfor %}
		</ol>
		</fieldset>
	</form>
	</fieldset>
	</div>

	<div id="analysis-progress">
		<div id="progress-bar">
			<p>Please be patient while we analyze <span class="domain">{{ name_obj }}</span>.</p>
			<img alt="progress bar" src="{{ STATIC_URL }}images/progress.gif" />
		</div>
		<div id="progress-log">
		</div>
	</div>
{% endblock %}
