{% extends "domain_page.html" %}

{% load static %}

{% block extra_media %}
	{{ block.super }}
	<!-- Javascripts and associated styles -->
	<script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/redmond/jquery-ui-1.10.4.custom.min.css" %}" />
	<script src="http://java.com/js/dtjava.js"></script>
	<script type="text/javascript">
		<!--
		$(document).ready(function() {
			// analysis options
			$('#options .toggle').click(function() {
				var tog = $(this);
				$('#advanced-options').slideToggle({
					'duration': 'slow',
					'complete': function() {
						if (tog.text() == 'Hide advanced options') {
							tog.text('Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)');
							$('#advanced-options').css({'border-bottom':'0', 'border-left':'0', 'border-right':'0', 'padding-left' : '3px' });
						} else {
							tog.text('Hide advanced options');
						}
					},
					'start': function() {
						if (tog.text() != 'Hide advanced options') {
							$('#advanced-options').removeAttr("style");
						}
					}
				});
			});

			{% if analyze_form.errors %}
			$('#options .toggle').text('Hide advanced options');
			{% else %}
			$('#advanced-options').hide();
			$('#advanced-options').css({'border-bottom':'0', 'border-left':'0', 'border-right':'0', 'padding-left' : '3px' });
			$('#options .toggle').text('Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)');
			{% endif %}

			// viz options tooltips
			$('#options-list a.form-tooltip').tooltip({
				track: true,
				delay: 0,
				showURL: false,
				extraClass: "fixed-width"
			});

			function deployApplet(callback) {
				dtjava.embed({
						id: 'dnslookinglass-applet',
						url: '{% static "/applet/dnslookingglass.jnlp" %}',
						width: 1,
						height: 1,
						placeholder: "appletPlaceholder",
					},
					{},
					{
						onJavascriptReady: callback,
					}
				);
			}

			function doAnalysis(form, callback) {
				var formData = form.serialize();
				$.ajax({
					url: "",
					type: "POST",
					data: formData,
					dataType: "html",
					xhrFields: {
						onprogress: function(e) {
							var txt = "";
							var entries = e.target.responseText.split("\r\n");
							$('#progress-log').html(txt);
							for (var i = 0; i < entries.length - 1; i++) {
								var json = $.parseJSON(entries[i]);
								if (json["type"] == "logmessage") {
									txt += "<div class=\"loglevel-" + json["level"] + "\">" + json["message"] + "</div>";
								} else if (json["type"] == "next-location") {
									$('<p><form><input type="button" class="button" value="Continue"></form></p>').insertAfter($('#progress-log')).find('input.button').click(function() { document.location = json["url"]; });
								}
							}
							$('#progress-log').html(txt);
							$("#progress-log").scrollTop($("#progress-log")[0].scrollHeight);
						}
					},
					success: function() {
						$('#progress-bar').hide();
						var el = $('#progress-log div').last();
						if (el.hasClass('loglevel-critical')) {
							$('#progress-bar').show();
							$('#progress-log').hide();
							form.submit();
						} else {
							if (el.hasClass('loglevel-error')) {
								$('<p class="form-error">There was an error analyzing {{ name_obj }}.  We\'ve been notified of the problem and will look into fixing it.</p>').insertAfter($('#progress-log'));
							}
						}
						if (callback != undefined) {
							callback();
						}
					},
					error: function() {
						form.submit();
						if (callback != undefined) {
							callback();
						}
					}
				});
			}

			function getDNSQueryTransportHandler(obj, applet) {
				var src;
				var sport = 0;
				if (obj.req == null) {
					throw 'Missing "req" field in input.';
				}
				if (obj.dst == null) {
					throw 'Missing "dst" field in input.';
				}
				if (obj.dport == null) {
					throw 'Missing "dport" field in input.';
				}
				if (obj.tcp == null) {
					throw 'Missing "tcp" field in input.';
				}
				if (obj.timeout == null) {
					throw 'Missing "timeout" field in input.';
				}
				if (obj.sport != null) {
					sport = obj.sport;
				}
				return applet.getDNSQueryTransportHandler(obj.req, obj.dst, obj.dport, obj.src, sport, obj.timeout, obj.tcp);
			}

			function decodeRequests(contentEncoded) {
				var content = JSON.parse(contentEncoded);
				if (content.version == undefined) {
					throw "No version information in JSON input";
				}
				var vers = content.version.toString().split(".");
				if (parseInt(vers[0]) != 1 || parseInt(vers[1]) > 0) {
					throw "Version of JSON input is invalid";
				}
				if (content.requests == undefined) {
					throw "No request information in input";
				}
				return content;
			}

			function runQueries(contentEncoded, appletId) {
				var content = decodeRequests(contentEncoded);
				var applet = document.getElementById(appletId);
				var qths = new Array();
				var responses = new Array();

				/* create the DNSQueryTransportHandlers */
				for (var i = 0; i < content.requests.length; i++) {
					qths.push(getDNSQueryTransportHandler(content.requests[i], applet));
					if (applet.hasError()) {
						throw applet.getErrorTrace();
					}
				}

				/* execute the queries */
				applet.executeQueries(qths);
				if (applet.hasError()) {
					throw applet.getErrorTrace();
				}

				/* collect the responses */
				for (var i = 0; i < qths.length; i++) {
					var response = {};
					response.res = qths[i].getEncodedResponse();
					if (qths[i].getError() != null) {
						response.err = qths[i].getError();
						if (qths[i].getErrno() != null) {
							response.errno = qths[i].getErrno();
						}
					}
					if (qths[i].getSource() != null) {
						response.src = qths[i].getSource().getHostAddress();
					} else {
						response.src = null;
					}
					if (qths[i].getSPort() != 0) {
						response.sport = qths[i].getSPort();
					} else {
						response.sport = null;
					}
					response.time_elapsed = qths[i].timeElapsed();
					responses.push(response);
				}

				/* return the responses */
				return {
					version: "1.0",
					responses: responses
				}
			}

			function webSocketURL(path) {
				var l = window.location;
				var proto = l.protocol === "https:" ? "wss://" : "ws://";
				var port = (l.port == 80 || l.port == 443) ? "" : (":" + l.port);
				return proto + l.hostname + port + path;
			}

			function setupWebSocket(url, appletId, callback) {
				var sockLoc = parseInt(Math.random()*1000000);
				var ws = new WebSocket(url + '?fn=' + sockLoc);
				ws.onmessage = function(event) {
					// execute the queries asynchronously and return the result.
					setTimeout(function() {
						if (event.data == '') {
							ws.close();
							return;
						}
						try {
							ws.send(JSON.stringify(runQueries(event.data, appletId)))
						} catch (e) {
							try {
								ws.send(JSON.stringify({ version: "1.0", error: e.toString() }));
								ws.close();
							} catch (e) {
								$('<p class="form-error">There was an error analyzing {{ name_obj }}.  We\'ve been notified of the problem and will look into fixing it.</p>').insertAfter($('#progress-log'));
							}
						}
					}, 0);
					return;
				}
				// send the sockLoc to the server, so it knows where to connect
				$('#id_sockname').val(sockLoc);
				callback(ws);
			}

			$('#options form').submit(function() {
				$('#analysis-text').hide();
				$('#analysis-progress').show();

				if ($('#id_explicit_delegation').val().search(/Enter names or addresses/) >= 0) {
					$('#id_explicit_delegation').val('');
				}

				// if force_ancestor is disabled, then re-enable it
				$('#id_force_ancestor').prop('disabled', false);

				var form = $('#options form');
				form.unbind('submit');

				if ($('#id_perspective_1').prop('checked')) {
					deployApplet(function(id) {
						setupWebSocket(webSocketURL('/ws/lg'), id, function(ws) {
							doAnalysis(form, function() {
								ws.close();
							});
						});
					});
				} else {
					doAnalysis(form);
				}

				return false;
			});

			function init_authoritative() {
				// Enable force_ancestor
				$('#id_force_ancestor').prop('disabled', false);
				// Change label of explicit delegation
				$('label[for="id_explicit_delegation"]').text('Authoritative servers:');
				// Change value of explicit delegation, if not already set
				$('#id_explicit_delegation').val('(Optional) Enter names or addresses of servers authoritative for ' + $('#id_force_ancestor').val() + ', one per line.');
			}

			function init_recursive() {
				// Change to force root, and disable force_ancestor
				$('#id_force_ancestor').val('.');
				$('#id_force_ancestor').prop('disabled', true);
				// Change label of explicit delegation
				$('label[for="id_explicit_delegation"]').text('Recursive resolvers:');
				// Change value of explicit delegation, if not already set
				$('#id_explicit_delegation').val('Enter names or addresses of resolvers, one per line.');
			}

			function enable_disable_looking_glass() {
				if ($('#id_perspective_2').prop('checked')) {
					$('#id_looking_glass').prop('disabled', false);
				} else {
					$('#id_looking_glass').prop('disabled', true);
				}
			}

			function init_form() {
				if ($('#id_analysis_type_1').prop('checked')) {
					init_recursive();
				}
				if ($('#id_analysis_type_0').prop('checked')) {
					init_authoritative();
				}
			}

			init_form();

			$('#id_force_ancestor').change(function() {
				init_form();
			});

			$('#id_analysis_type_1').change(function() {
				init_form();
			});

			$('#id_analysis_type_0').change(function() {
				init_form();
			});

			enable_disable_looking_glass();

			$('#id_perspective_2').change(function() {
				enable_disable_looking_glass();
			});

			$('#id_perspective_1').change(function() {
				enable_disable_looking_glass();
			});

			$('#id_perspective_0').change(function() {
				enable_disable_looking_glass();
			});

			$('#id_explicit_delegation').focus(function() {
				if ($(this).val().search(/Enter names or addresses/) >= 0) {
					$(this).val('');
				}
			});

			$('#id_explicit_delegation').blur(function() {
				if (!$(this).val()) {
					init_form();
				}
			});

		});
		-->
	</script>
{% endblock %}
{% block dnssec_options %}{% endblock %}

{% block page_content %}
	<div id="analysis-text">
	{% if error_msg %}
		<p class="form-error">
		{{ error_msg }}
		</p>
	{% else %}
		<p>
		{% if name_obj.analysis_end %}
		<span class="domain">{{ name_obj }}</span> was last analyzed on {{ name_obj.analysis_end|date:"Y-m-d H:i:s" }} UTC (<abbr class="timeago" title="{{ name_obj.analysis_end|date:"c" }}">{{ name_obj.updated_ago_str }} ago</abbr>).  To re-analyze the data, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% else %}
		<span class="domain">{{ name_obj }}</span> has not been analyzed before. To analyze this domain name, please click &quot;Analyze&quot; below.  This process may take several minutes.
		{% endif %}
		</p>
	{% endif %}

	<fieldset id="options">
	<form action="" method="post">
		<p id="analysis-submit">
			<input type="submit" class="button" value="Analyze" />
		</p>

		<p><a class="toggle">Advanced options (forced ancestor analysis, recursive, explicit delegation, etc.)</a></p>

		<fieldset id="advanced-options">
		{% if analyze_form.errors %}
			<p class="form-error">
			There were errors processing the analysis options.  Please correct below and re-submit.
			</p>
		{% endif %}

		<ol id="options-list" class="analysis-options">
			{% for field in analyze_form %}
			<li>
			<a class="form-tooltip" title="{{ field.help_text }}">|?|</a>
			{{ field.label_tag }}
			{{ field }}
			{% if field.errors %}
				<ul class="formfield-error-list">
				{% for err in field.errors %}
					<li>{{ err }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			</li>
			{% endfor %}
		</ol>
		</fieldset>
	</form>
	</fieldset>
	</div>

	<div id="analysis-progress">
		<div id="progress-bar">
			<p>Please be patient while we analyze <span class="domain">{{ name_obj }}</span>.</p>
			<img alt="progress bar" src="{% static "images/progress.gif" %}" />
		</div>
		<div id="progress-log">
		</div>
		<div id="appletPlaceholder"></div>
	</div>
{% endblock %}
