{% extends "base_site.html" %}

{% load static %}

{% block extra_media %}
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js" ></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{lang:'en-US', parsetags:'explicit'}
	</script>
	<script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.timeago.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/redmond/jquery-ui-1.10.4.custom.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/dnsviz-ui.css" %}" />
	<script type="text/javascript">
		$(document).ready(function() {
			var now = new Date();
			$('abbr.timeago').timeago();
			{% if url_subdir != "analyze/" %}
			$('.datepicker').datepicker({ showOn: 'both', buttonImageOnly: true, buttonImage: '{% static "images/calendar.gif" %}', buttonText: 'Select a date', dateFormat: 'yy-mm-dd', minDate: '{{ name_obj.first.analysis_end|date:"Y-m-d" }}', maxDate: new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()) });
			{% endif %}
		});
	</script>
	{{ date_form.media }}
{% endblock %}

{% block maincontent %}
<h3><span id="domain" class="domain">{{ name_obj }}</span></h3>

{% if name_obj.group %}
{% if name_obj.analysis_type == 1 %}
<div id="analysis-description">
	Recursive analysis
</div>
{% elif name_obj.group.explicit_delegation %}
<div id="analysis-description">
	Explicit delegation of <span class="domain">{{ name_obj.group }}</span>
</div>
{% endif %}
{% elif date_form %}
<div id="date-search"><form action="" method="get">
<fieldset>
{% for field in date_form %}{{ field }}{% endfor %}
<input type="submit" name="date_search" class="button" value="Go &raquo;" />
</fieldset>
</form></div>
{% endif %}

{% if dynamic %}

<div id="last-updated">
	Updated: <span id="updated-time"><strong>{{ name_obj.analysis_end|date:"Y-m-d H:i:s" }} UTC</strong> (<abbr class="timeago" title="{{ name_obj.analysis_end|date:"c" }}">{{ name_obj.updated_ago_str }} ago</abbr>)</span>
</div>

{% else %}

{% if name_obj.analysis_end %}
<div id="last-updated">
	{% if name_obj.group %}
		{% if name_obj.analysis_type == 1 %}
		Updated (recursive):
		{% elif name_obj.group.explicit_delegation %}
		Updated (explicit delegation):
		{% else %}
		Updated (private):
		{% endif %}
	{% else %}
		Updated:
	{% endif %}
	<span id="updated-time"><strong>{% if url_subdir != "analyze/" %}<a href="{{ name_obj.base_url_with_timestamp }}{{ url_subdir }}{% if query_string %}?{{ query_string }}{% endif %}">{{ name_obj.analysis_end|date:"Y-m-d H:i:s" }} UTC</a>{% else %}{{ name_obj.analysis_end|date:"Y-m-d H:i:s" }} UTC{% endif %}</strong> (<abbr class="timeago" title="{{ name_obj.analysis_end|date:"c" }}">{{ name_obj.updated_ago_str }} ago</abbr>)</span>
<span id="most-recent">
{% if name_obj.group %}
	<a href="{{ name_obj.base_url }}{{ url_subdir }}">Go to delegated analysis &raquo;</a>
{% elif name_obj.next %}
	<a href="{{ name_obj.base_url }}{{ url_subdir }}">Go to most recent &raquo;</a>
{% else %}
	<a href="{{ name_obj.base_url }}analyze/">Update now</a>
{% endif %}
</span>
</div>

{% if not name_obj.group %}
{% if url_subdir != "analyze/" %}
<div id="time-navigation">
{% if name_obj.previous %} 
  <span id="previous-analysis"><a href="{{ name_obj.previous.base_url_with_timestamp }}{{ url_subdir }}{% if query_string %}?{{ query_string }}{% endif %}">&laquo; Previous analysis</a></span>
{% else %}
	<span id="previous-analysis" class="inactive">&laquo; Previous analysis</span>
{% endif %}
|
{% if name_obj.next %}
	<span id="next-analysis"><a href="{{ name_obj.next.base_url_with_timestamp }}{{ url_subdir }}{% if query_string %}?{{ query_string }}{% endif %}">Next analysis &raquo;</a></span>
{% else %}
	<span id="next-analysis" class="inactive">Next analysis &raquo;</span>
{% endif %}
</div>
{% endif %}

{% endif %}

{% endif %}

{% endif %}

<div class="panel">
	<div id="share-buttons">
		<ul>
			<li><a href="https://twitter.com/share?count=none" class="twitter-share-button">Tweet</a></li>
			<li><div id="plusone-div">
				<script type="text/javascript">
					gapi.plusone.render('plusone-div',{"size": "medium", "annotation": "none", "width": "120" });
				</script>
			</div></li>
		</ul>
	</div>

	<!-- TABS -->

	{% if not dynamic %}

	{% block view_tabs %}
	<ul class="tabs">
		{% if url_subdir == "dnssec/" %}
		<li class="active"><a>DNSSEC</a></li>
		{% else %}
		<li><a{% if name_obj.analysis_end %} href="{% if timestamp or name_obj.group %}{{ name_obj.base_url_with_timestamp }}{% else %}{{ name_obj.base_url }}{% endif %}dnssec/{% if query_string %}?{{ query_string }}{% endif %}"{% endif %}>DNSSEC</a></li>
		{% endif %}
		{% if url_subdir == "responses/" %}
		<li class="active"><a>Responses</a></li>
		{% else %}
		<li><a{% if name_obj.analysis_end %} href="{% if timestamp or name_obj.group %}{{ name_obj.base_url_with_timestamp }}{% else %}{{ name_obj.base_url }}{% endif %}responses/"{% if query_string %}?{{ query_string }}{% endif %}{% endif %}>Responses</a></li>
		{% endif %}
		{% if url_subdir == "servers/" %}
		<li class="active"><a>Servers</a></li>
		{% else %}
		<li><a{% if name_obj.analysis_end %} href="{% if timestamp or name_obj.group %}{{ name_obj.base_url_with_timestamp }}{% else %}{{ name_obj.base_url }}{% endif %}servers/"{% if query_string %}?{{ query_string }}{% endif %}{% endif %}>Servers</a></li>
		{% endif %}
		{% if url_subdir == "analyze/" %}
		<li class="active"><a>Analyze</a></li>
		{% else %}
		<li><a href="{{ name_obj.base_url }}analyze/">Analyze</a></li>
		{% endif %}
	</ul>
	{% endblock %}

	{% endif %}

	{% block page_info %}
	{% endblock %}

	{% block page_content %}
	{% endblock %}

</div> <!-- panel -->

{% endblock %}
